<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;"> 
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{ path('app_logescom_comptable_bilan_index', {site : site.id}) }}">Bilan périodique</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{ path('app_logescom_comptable_bilan_etat_caisse', {site : site.id}) }}">Etat des caisses</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path('app_logescom_comptable_caisse_releve', {'site' : site.id})}}">Relevé des caisses</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path('app_logescom_comptable_facture_impaye', {'site' : site.id})}}">Factures impayées</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path('app_logescom_comptable_caisse_transfert_fond_index', {'site' : site.id})}}">Transfert de fonds</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path('app_logescom_comptable_entrees_versement_index', {'site' : site.id})}}">Versements</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path('app_logescom_comptable_entrees_recette_index', {'site' : site.id})}}">Recettes</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{ path('app_logescom_comptable_sorties_depense_index', {site : site.id}) }}">Dépenses</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{ path('app_logescom_comptable_sorties_decaissement_index', {site : site.id}) }}">Décaissements</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{ path('app_logescom_comptable_avance_salaire_index', {site : site.id}) }}">Avances sur salaire</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{ path('app_logescom_comptable_salaire_personnel_index', {site : site.id}) }}">Salaires</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{ path('app_logescom_comptable_compte_compte_collaborateur', {site : site.id}) }}">Compte</a>
   
</div>