{% extends 'base_comptable.html.twig' %}

{% block title %}Détails de l'opération{% endblock %}



{% block body %}
    <div class="container-fluid bg-light py-5" style="min-height: 90vh; background-image: url('{{ asset(chemin_images_config) }}fond.jpg'); background-size: cover;">
        {# {% include "_common/_messages_flash.html.twig" %} #}


        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm border-0">
                    <div class="card-header bg-danger text-white">
                        <h5 class="mb-0">Confirmation de la suppression</h5>
                    </div>
                    <div class="card-body">
                        
                        <p class="text-danger mb-4">
                            <strong>Attention :</strong> Vous êtes sur le point de supprimer l'élément suivant. Cette action est irréversible.
                        </p>

                        <h4 class='bg-warning text-dark p-2 rounded mb-3'>
                            <i class="fa fa-exclamation-triangle"></i> Détail de l'opération
                        </h4>

                        <div class="mb-3">
                            <strong>Personnel:</strong> {{ operation.personnel.nomCompletUser }}<br>
                            <strong>Commentaire:</strong> {{ operation.commentaire|capitalize }}<br>
                            <strong>Salaire:</strong> {{ operation.montant|abs|number_format(0,',',' ') }} <br>
                        </div>

                        <form method="post" action="{{ route_suppression }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <div class="mb-3">
                                <label for="deleteReason" class="form-label">Motif de suppression</label>
                                <textarea class="form-control" id="deleteReason" name="delete_reason" rows="3" required></textarea>
                            </div>
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ operation.id) }}">
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
                                <a class="btn btn-light" href="javascript:history.back()">
                                    <i class="fas fa-arrow-left"></i> Retour
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
