<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;"> 
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{ path('app_logescom_admin_entreprise_index') }}">Entreprise</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{ path('app_logescom_admin_site_index') }}">Site</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{ path('app_logescom_admin_config_type_bien_index') }}">Type des Biens</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{ path('app_logescom_admin_config_type_surveillance_index') }}">Type de Surveillance</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{ path('app_logescom_admin_config_penalite_type_index') }}">Type de Pénalités</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{ path('app_logescom_admin_caisse_index')}}">Gestion des caisses</a>
</div>