{% extends 'base.html.twig' %}

{% block title %}Visiteur index{% endblock %}

{% block body %}
    <h1>Visiteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Statut</th>
                <th>Service</th>
                <th>Motif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visiteur in visiteurs %}
            <tr>
                <td>{{ visiteur.id }}</td>
                <td>{{ visiteur.nom }}</td>
                <td>{{ visiteur.prenom }}</td>
                <td>{{ visiteur.telephone }}</td>
                <td>{{ visiteur.statut }}</td>
                <td>{{ visiteur.service }}</td>
                <td>{{ visiteur.motif }}</td>
                <td>
                    <a href="{{ path('app_gandaal_administration_securite_visiteur_show', {'id': visiteur.id}) }}">show</a>
                    <a href="{{ path('app_gandaal_administration_securite_visiteur_edit', {'id': visiteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gandaal_administration_securite_visiteur_new') }}">Create new</a>
{% endblock %}
